html,
body,
div {
  margin: 0;
  padding: 0;
  /*禁止触摸高亮*/
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  /*禁止长按默认事件*/
  -webkit-touch-callout: none;
  /*禁止选择文字*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body,
.page {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  background-color: #1F3253;
  overflow: hidden;
}
.loading {
  display: -webkit-box;
  -webkit-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.loading .man {
  width: 140px;
  height: 320px;
  background-image: url('../res/m1-man.32@2x.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.loading .start {
  height: 2.5rem;
  width: 10rem;
  line-height: 2.5rem;
  text-align: center;
  color: #D5EEFE;
  border: 1px solid #D5EEFE;
  border-radius: 5rem;
  cursor: pointer;
}
.loading-animation .man {
  -webkit-animation: man 500ms steps(3) alternate infinite;
  animation: man 500ms steps(3) alternate infinite;
}
.loading-animation .start {
  -webkit-animation: start 500ms alternate;
  animation: start 500ms alternate;
}
@-webkit-keyframes man {
  100% {
    background-position: -420px 0;
  }
}
@-webkit-keyframes man {
  100% {
    background-position: -420px 0;
  }
}
@keyframes man {
  100% {
    background-position: -420px 0;
  }
}
@-webkit-keyframes start {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50%,
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes start {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50%,
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pages {
  height: 600%;
  width: 100%;
  display: -webkit-box;
  -webkit-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.pages .page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 1%;
  display: -webkit-box;
  -webkit-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.prev,
.next {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 1rem;
  width: 1rem;
  border: .3rem solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
  -webkit-animation: next 1s linear alternate infinite;
  animation: next 1s linear alternate infinite;
  display: none;
}
.prev {
  top: 1rem;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  -webkit-animation: prev 1s linear alternate infinite;
  animation: prev 1s linear alternate infinite;
}
@-webkit-keyframes prev {
  from {
    top: 5rem;
    opacity: .3;
  }
  to {
    top: 1rem;
    opacity: 1;
  }
}
@keyframes prev {
  from {
    top: 5rem;
    opacity: .3;
  }
  to {
    top: 1rem;
    opacity: 1;
  }
}
@-webkit-keyframes next {
  from {
    bottom: 5rem;
    opacity: .3;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}
@keyframes next {
  from {
    bottom: 5rem;
    opacity: .3;
  }
  to {
    bottom: 1rem;
    opacity: 1;
  }
}
#step1 {
  position: relative;
  top: 0;
  left: 0;
}
#step1 .title-1 {
  height: 70px;
  width: 410px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -745px -157px;
}
#step1 .bottom {
  position: relative;
  height: 287px;
  width: 458px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
}
#step1 .phone-1 {
  position: relative;
  bottom: -310%;
  z-index: 2;
  height: 490px;
  width: 242px;
  background-image: url('../res/m2-phone.32@2x.png');
  opacity: 0;
}
#step1 .balloon-1 {
  position: absolute;
  right: -100px;
  top: 0;
  height: 193px;
  width: 137px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -462px 0;
  opacity: 0;
}
#step1 .planet-1 {
  position: absolute;
  top: 30%;
  left: -100px;
  height: 60px;
  width: 67px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -762px 0;
  opacity: 0;
}
#step1 .man-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 169px;
  width: 78px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -602px 0;
  opacity: 0;
}
#step1 .rocket-1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 156px;
  width: 76px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -684px 0;
  opacity: 0;
}
.step1-animation .bottom {
  -webkit-animation: bottom 500ms 500ms linear;
  animation: bottom 500ms 500ms linear;
}
.step1-animation .phone-1 {
  -webkit-animation: phone-1 500ms 1s linear forwards;
  animation: phone-1 500ms 1s linear forwards;
}
.step1-animation .balloon-1 {
  -webkit-animation: balloon-1 2s 1.7s linear alternate infinite;
  animation: balloon-1 2s 1.7s linear alternate infinite;
}
.step1-animation .planet-1 {
  -webkit-animation: planet-1 2s 1.7s linear alternate infinite;
  animation: planet-1 2s 1.7s linear alternate infinite;
}
.step1-animation .man-1,
.step1-animation .rocket-1 {
  -webkit-animation: phone-1 500ms ease-in forwards;
  animation: phone-1 500ms ease-in forwards;
}
@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes phone-1 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes phone-1 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes balloon-1 {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes balloon-1 {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1;
  }
}
@-webkit-keyframes planet-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes planet-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#step2 {
  position: relative;
  top: 0;
  left: 0;
}
#step2 .phone-2 {
  position: relative;
  height: 494px;
  width: 244px;
  background-image: url('../res/m3-phone.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
#step2 .ep-1,
#step2 .ep-2,
#step2 .ep-3,
#step2 .ep-4,
#step2 .ep-5 {
  position: absolute;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
#step2 .ep-1 {
  top: 100px;
  left: -150px;
  height: 82px;
  width: 80px;
  background-position: -570px -196px;
}
#step2 .ep-2 {
  top: 50px;
  right: -100px;
  height: 61px;
  width: 63px;
  background-position: -762px -64px;
}
#step2 .ep-3 {
  top: 150px;
  right: -200px;
  height: 88px;
  width: 102px;
  background-position: -464px -198px;
}
#step2 .ep-4 {
  top: 280px;
  right: -100px;
  height: 80px;
  width: 82px;
  background-position: -655px -171px;
}
#step2 .ep-5 {
  top: 400px;
  right: -200px;
  height: 50px;
  width: 61px;
  background-position: -833px 0;
}
#step2 .title-2 {
  height: 55px;
  width: 330px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -900px -65px;
  opacity: 0;
}
#step2 .ad-1 {
  margin: 2rem 0;
  height: 23px;
  width: 415px;
  background-image: url('../res/m-animate-1-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -766px -128px;
  opacity: 0;
}
#step2 .mlike-1 {
  height: 56px;
  width: 122px;
  background-image: url('../res/mlike.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
.step2-animation .phone-2 {
  -webkit-animation: phone-2 300ms linear forwards;
  animation: phone-2 300ms linear forwards;
}
.step2-animation .ep-1,
.step2-animation .ep-2,
.step2-animation .ep-3,
.step2-animation .ep-4,
.step2-animation .ep-5 {
  -webkit-animation: opacity 300ms 300ms linear forwards;
  animation: opacity 300ms 300ms linear forwards;
}
.step2-animation .ep-2 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.step2-animation .ep-3 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.step2-animation .ep-4 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.step2-animation .ep-5 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.step2-animation .title-2 {
  -webkit-animation: phone-2 300ms 300ms linear forwards;
  animation: phone-2 300ms 300ms linear forwards;
}
.step2-animation .ad-1 {
  -webkit-animation: phone-2 300ms 600ms linear forwards;
  animation: phone-2 300ms 600ms linear forwards;
}
.step2-animation .mlike-1 {
  -webkit-animation: mlike-1 500ms 600ms linear forwards;
  animation: mlike-1 500ms 600ms linear forwards;
}
@-webkit-keyframes phone-2 {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes phone-2 {
  from {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes mlike-1 {
  
}
@keyframes mlike-1 {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  40%,
  60% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#step3 {
  position: relative;
  top: 0;
  left: 0;
}
#step3 .phone-2 {
  position: relative;
  height: 494px;
  width: 244px;
  background-image: url('../res/m4-phone.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
#step3 .plane,
#step3 .bee,
#step3 .doll,
#step3 .monkey {
  position: absolute;
  background-image: url('../res/m-animate-2-imp.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
#step3 .plane {
  top: 0;
  right: -200px;
  height: 150px;
  width: 181px;
  background-position: -606px 0;
}
#step3 .bee {
  top: 200px;
  left: -200px;
  height: 61px;
  width: 80px;
  background-position: -684px -153px;
}
#step3 .doll {
  top: 220px;
  right: -115px;
  height: 111px;
  width: 86px;
  background-position: -790px -149px;
}
#step3 .monkey {
  top: 350px;
  left: -80px;
  height: 124px;
  width: 131px;
  background-position: -864px 0;
}
#step3 .title-2 {
  height: 48px;
  width: 231px;
  background-image: url('../res/m-animate-2-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -1464px -186px;
  opacity: 0;
}
#step3 .ad-1 {
  margin: 2rem 0;
  height: 23px;
  width: 398px;
  background-image: url('../res/m-animate-2-imp.32@2x.png');
  background-repeat: no-repeat;
  background-position: -1398px -111px;
  opacity: 0;
}
#step3 .mlike-1 {
  height: 56px;
  width: 122px;
  background-image: url('../res/mlike.32@2x.png');
  background-repeat: no-repeat;
  opacity: 0;
}
.step3-animation .phone-2 {
  -webkit-animation: phone-2 300ms linear forwards;
  animation: phone-2 300ms linear forwards;
}
.step3-animation .plane {
  -webkit-animation: plane 300ms linear forwards;
  animation: plane 300ms linear forwards;
}
.step3-animation .monkey {
  -webkit-animation: monkey 300ms 300ms linear forwards;
  animation: monkey 300ms 300ms linear forwards;
}
.step3-animation .bee {
  -webkit-animation: monkey 300ms 600ms linear forwards;
  animation: monkey 300ms 600ms linear forwards;
}
.step3-animation .doll {
  -webkit-animation: doll 1s 900ms linear alternate infinite;
  animation: doll 1s 900ms linear alternate infinite;
}
.step3-animation .title-2 {
  -webkit-animation: phone-2 300ms 300ms linear forwards;
  animation: phone-2 300ms 300ms linear forwards;
}
.step3-animation .ad-1 {
  -webkit-animation: phone-2 300ms 600ms linear forwards;
  animation: phone-2 300ms 600ms linear forwards;
}
.step3-animation .mlike-1 {
  -webkit-animation: mlike-1 500ms 600ms linear forwards;
  animation: mlike-1 500ms 600ms linear forwards;
}
@-webkit-keyframes plane {
  
}
@keyframes plane {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes monkey {
  
}
@keyframes monkey {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes doll {
  
}
@keyframes doll {
  from {
    transform-origin: top left;
    transform: rotate(-25deg);
    opacity: 1;
  }
  to {
    transform-origin: top left;
    transform: rotate(25deg);
    opacity: 1;
  }
}
