@import "base.less";
html,
body,
div {
    margin: 0;
    padding: 0;
    /*禁止触摸高亮*/
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    /*禁止长按默认事件*/
    -webkit-touch-callout: none;
    /*禁止选择文字*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body,
.page {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    background-color: #1F3253;
    overflow: hidden;
}

// 加载页面
.loading {
    .df();
    .jc();
    .ai();
    .fd();
    // 宇航员
    .man {
        width: 140px;
        height: 320px;
        background-image: url('../res/m1-man.32@2x.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-transition: 1s;
        transition: 1s;
    }
    // 开始按钮
    .start {
        height: 2.5rem;
        width: 10rem;
        line-height: 2.5rem;
        text-align: center;
        color: #D5EEFE;
        border: 1px solid #D5EEFE;
        border-radius: 5rem;
        cursor: pointer;
    }
}

// 统一管理加载页面的动画
.loading-animation {
    .man {
        -webkit-animation: man 500ms steps(3) alternate infinite;
        animation: man 500ms steps(3) alternate infinite;
    }
    .start {
        -webkit-animation: start 500ms alternate;
        animation: start 500ms alternate;
    }
}

// 宇航员动画
@-webkit-keyframes man {
    100% {
        background-position: -420px 0;
    }
}

@-webkit-keyframes man {
    100% {
        background-position: -420px 0;
    }
}

@keyframes man {
    100% {
        background-position: -420px 0;
    }
}

// 按钮动画
@-webkit-keyframes start {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    50%,
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes start {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    50%,
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// 展示页面父容器
.pages {
    height: 600%;
    width: 100%;
    .df();
    .fd();
    color: #fff;
    -webkit-transition: 500ms;
    transition: 500ms;
    .page {
        .dd();
        height: 1%;
        .df();
        .fd();
        .jc();
        .ai();
    }
}

// 上，下一页按钮
.prev,
.next {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 1rem;
    width: 1rem;
    border: .3rem solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    -webkit-animation: next 1s linear alternate infinite;
    animation: next 1s linear alternate infinite;
    display: none;
}

.prev {
    top: 1rem;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    -webkit-animation: prev 1s linear alternate infinite;
    animation: prev 1s linear alternate infinite;
}

// 上一页动画按钮
@-webkit-keyframes prev {
    from {
        top: 5rem;
        opacity: .3;
    }
    to {
        top: 1rem;
        opacity: 1;
    }
}

@keyframes prev {
    from {
        top: 5rem;
        opacity: .3;
    }
    to {
        top: 1rem;
        opacity: 1;
    }
}

// 下一页动画按钮
@-webkit-keyframes next {
    from {
        bottom: 5rem;
        opacity: .3;
    }
    to {
        bottom: 1rem;
        opacity: 1;
    }
}

@keyframes next {
    from {
        bottom: 5rem;
        opacity: .3;
    }
    to {
        bottom: 1rem;
        opacity: 1;
    }
}

// 页面1
#step1 {
    background-color: #693798;
    position: relative;
    top: 0;
    left: 0;
    // 标题
    .title-1 {
        height: 70px;
        width: 410px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -745px -157px;
    }
    // 底座
    .bottom {
        position: relative;
        height: 287px;
        width: 458px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
    }
    // 手机
    .phone-1 {
        position: relative;
        bottom: -310%;
        z-index: 2;
        height: 490px;
        width: 242px;
        background-image: url('../res/m2-phone.32@2x.png');
        opacity: 0;
    }
    // 气球
    .balloon-1 {
        position: absolute;
        right: -100px;
        top: 0;
        height: 193px;
        width: 137px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -462px 0;
        opacity: 0;
    }
    // 行星
    .planet-1 {
        position: absolute;
        top: 30%;
        left: -100px;
        height: 60px;
        width: 67px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -762px 0;
        opacity: 0;
    }
    // 宇航员
    .man-1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 169px;
        width: 78px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -602px 0;
        opacity: 0;
    }
    // 火箭
    .rocket-1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 156px;
        width: 76px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -684px 0;
        opacity: 0;
    }
}

// 统一管理第一个页面的动画
.step1-animation {
    .bottom {
        -webkit-animation: bottom 300ms 300ms linear;
        animation: bottom 300ms 300ms linear;
    }
    .phone-1 {
        -webkit-animation: phone-1 300ms 600ms linear forwards;
        animation: phone-1 300ms 600ms linear forwards;
    }
    .balloon-1 {
        -webkit-animation: balloon-1 2s 900ms linear alternate infinite;
        animation: balloon-1 2s 900ms linear alternate infinite;
    }
    .planet-1 {
        -webkit-animation: planet-1 2s 900ms linear alternate infinite;
        animation: planet-1 2s 900ms linear alternate infinite;
    }
    .man-1,
    .rocket-1 {
        -webkit-animation: phone-1 300ms ease-in forwards;
        animation: phone-1 300ms ease-in forwards;
    }
}

// 底座动画
@-webkit-keyframes bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

// 手机动画
@-webkit-keyframes phone-1 {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes phone-1 {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

// 气球动画
@-webkit-keyframes balloon-1 {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 1;
    }
}

@keyframes balloon-1 {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 1;
    }
}

// 行星动画
@-webkit-keyframes planet-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes planet-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// 页面2
#step2 {
    background-color: #ff9600;
    position: relative;
    top: 0;
    left: 0;
    .phone-2 {
        position: relative;
        height: 494px;
        width: 244px;
        background-image: url('../res/m3-phone.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .ep-1,
    .ep-2,
    .ep-3,
    .ep-4,
    .ep-5 {
        position: absolute;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .ep-1 {
        top: 100px;
        left: -150px;
        height: 82px;
        width: 80px;
        background-position: -570px -196px;
    }
    .ep-2 {
        top: 50px;
        right: -100px;
        height: 61px;
        width: 63px;
        background-position: -762px -64px;
    }
    .ep-3 {
        top: 150px;
        right: -200px;
        height: 88px;
        width: 102px;
        background-position: -464px -198px;
    }
    .ep-4 {
        top: 280px;
        right: -100px;
        height: 80px;
        width: 82px;
        background-position: -655px -171px;
    }
    .ep-5 {
        top: 400px;
        right: -200px;
        height: 50px;
        width: 61px;
        background-position: -833px 0;
    }
    .title-2 {
        height: 55px;
        width: 330px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -900px -65px;
        opacity: 0;
    }
    .ad-1 {
        margin: 2rem 0;
        height: 23px;
        width: 415px;
        background-image: url('../res/m-animate-1-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -766px -128px;
        opacity: 0;
    }
    .mlike-1 {
        height: 56px;
        width: 122px;
        background-image: url('../res/mlike.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
}

// 统一管理第二个页面的动画
.step2-animation {
    .phone-2 {
        -webkit-animation: phone-2 300ms linear forwards;
        animation: phone-2 300ms linear forwards;
    }
    .ep-1,
    .ep-2,
    .ep-3,
    .ep-4,
    .ep-5 {
        -webkit-animation: opacity 300ms 300ms linear forwards;
        animation: opacity 300ms 300ms linear forwards;
    }
    .ep-2 {
        -webkit-animation-delay: 600ms;
        animation-delay: 600ms;
    }
    .ep-3 {
        -webkit-animation-delay: 900ms;
        animation-delay: 900ms;
    }
    .ep-4 {
        -webkit-animation-delay: 1200ms;
        animation-delay: 1200ms;
    }
    .ep-5 {
        -webkit-animation-delay: 1500ms;
        animation-delay: 1500ms;
    }
    .title-2 {
        -webkit-animation: phone-2 300ms 300ms linear forwards;
        animation: phone-2 300ms 300ms linear forwards;
    }
    .ad-1 {
        -webkit-animation: phone-2 300ms 600ms linear forwards;
        animation: phone-2 300ms 600ms linear forwards;
    }
    .mlike-1 {
        -webkit-animation: mlike-1 500ms 600ms linear forwards;
        animation: mlike-1 500ms 600ms linear forwards;
    }
}

// 手机动画
@-webkit-keyframes phone-2 {
    from {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes phone-2 {
    from {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

// 点赞动画
@-webkit-keyframes mlike-1 {
    from {}
    to {}
}

@keyframes mlike-1 {
    0% {
        transform: translateY(20px);
        opacity: 1;
    }
    40%,
    60% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// 行星些动画
@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// 页面3
#step3 {
    background-color: #00aeff;
    position: relative;
    top: 0;
    left: 0;
    .phone-2 {
        position: relative;
        height: 494px;
        width: 244px;
        background-image: url('../res/m4-phone.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .plane,
    .bee,
    .doll,
    .monkey {
        position: absolute;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .plane {
        top: 0;
        right: -200px;
        height: 150px;
        width: 181px;
        background-position: -606px 0;
    }
    .bee {
        top: 200px;
        left: -200px;
        height: 61px;
        width: 80px;
        background-position: -684px -153px;
    }
    .doll {
        top: 220px;
        right: -115px;
        height: 111px;
        width: 86px;
        background-position: -790px -149px;
    }
    .monkey {
        top: 350px;
        left: -80px;
        height: 124px;
        width: 131px;
        background-position: -864px 0;
    }
    .title-2 {
        height: 48px;
        width: 231px;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -1464px -186px;
        opacity: 0;
    }
    .ad-1 {
        margin: 2rem 0;
        height: 23px;
        width: 398px;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -1398px -111px;
        opacity: 0;
    }
    .mlike-1 {
        height: 56px;
        width: 122px;
        background-image: url('../res/mlike.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
}

// 统一管理第三个页面的动画
.step3-animation {
    .phone-2 {
        -webkit-animation: phone-2 300ms linear forwards;
        animation: phone-2 300ms linear forwards;
    }
    .plane {
        -webkit-animation: plane 300ms linear forwards;
        animation: plane 300ms linear forwards;
    }
    .monkey {
        -webkit-animation: monkey 300ms 300ms linear forwards;
        animation: monkey 300ms 300ms linear forwards;
    }
    .bee {
        -webkit-animation: monkey 300ms 600ms linear forwards;
        animation: monkey 300ms 600ms linear forwards;
    }
    .doll {
        -webkit-animation: doll 1s 900ms linear alternate infinite;
        animation: doll 1s 900ms linear alternate infinite;
    }
    .title-2 {
        -webkit-animation: phone-2 300ms 300ms linear forwards;
        animation: phone-2 300ms 300ms linear forwards;
    }
    .ad-1 {
        -webkit-animation: phone-2 300ms 600ms linear forwards;
        animation: phone-2 300ms 600ms linear forwards;
    }
    .mlike-1 {
        -webkit-animation: mlike-1 500ms 600ms linear forwards;
        animation: mlike-1 500ms 600ms linear forwards;
    }
}

// 飞机动画
@-webkit-keyframes plane {
    from {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes plane {
    from {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

// 猴子动画
@-webkit-keyframes monkey {
    from {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes monkey {
    from {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

// 玩偶动画
@-webkit-keyframes doll {
    from {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        opacity: 1;
    }
}

@keyframes doll {
    from {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        opacity: 1;
    }
}

// 页面4
#step4 {
    background-color: #ff006d;
    position: relative;
    top: 0;
    left: 0;
    .phone-2 {
        position: relative;
        height: 486px;
        width: 358px;
        background-image: url('../res/m5-phone.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .pic-1,
    .pic-2,
    .pic-3,
    .pic-4 {
        position: absolute;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .pic-1 {
        top: -15px;
        left: -80px;
        height: 224px;
        width: 210px;
    }
    .pic-2 {
        top: 240px;
        left: -70px;
        height: 166px;
        width: 174px;
        background-position: -230px 0;
    }
    .pic-3 {
        top: 170px;
        left: 290px;
        height: 161px;
        width: 162px;
        background-position: -426px -5px;
    }
    .pic-4 {
        top: 430px;
        left: 340px;
        height: 98px;
        width: 74px;
        background-position: -606px -152px;
    }
    .title-2 {
        height: 43px;
        width: 216px;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -1477px -8px;
        opacity: 0;
    }
    .ad-1 {
        margin: 2rem 0;
        height: 23px;
        width: 342px;
        background-image: url('../res/m-animate-2-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -1417px -138px;
        opacity: 0;
    }
    .mlike-1 {
        height: 56px;
        width: 122px;
        background-image: url('../res/mlike.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
}

// 统一管理第四个页面的动画
.step4-animation {
    .phone-2 {
        -webkit-animation: phone-2 300ms linear forwards;
        animation: phone-2 300ms linear forwards;
    }
    .pic-1 {
        -webkit-animation: pic-r 300ms 600ms linear forwards;
        animation: pic-r 300ms 600ms linear forwards;
    }
    .pic-2 {
        -webkit-animation: pic-r 300ms linear forwards;
        animation: pic-r 300ms linear forwards;
    }
    .pic-3 {
        -webkit-animation: pic-l 300ms 300ms linear forwards;
        animation: pic-l 300ms 300ms linear forwards;
    }
    .pic-4 {
        -webkit-animation: pic-4 300ms 900ms linear forwards;
        animation: pic-4 300ms 900ms linear forwards;
    }
    .title-2 {
        -webkit-animation: phone-2 300ms 300ms linear forwards;
        animation: phone-2 300ms 300ms linear forwards;
    }
    .ad-1 {
        -webkit-animation: phone-2 300ms 600ms linear forwards;
        animation: phone-2 300ms 600ms linear forwards;
    }
    .mlike-1 {
        -webkit-animation: mlike-1 500ms 600ms linear forwards;
        animation: mlike-1 500ms 600ms linear forwards;
    }
}

// 从右放大动画
@-webkit-keyframes pic-r {
    from {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pic-r {
    from {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

// 从左放大动画
@-webkit-keyframes pic-l {
    from {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pic-l {
    from {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

// 气球动画
@-webkit-keyframes pic-4 {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pic-4 {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

// 页面5
#step5 {
    background-color: #2aa749;
    position: relative;
    top: 0;
    left: 0;
    .home {
        position: relative;
        top: 280px;
        left: 60px;
        height: 205px;
        width: 595px;
        margin: 0 auto;
        background-image: url('../res/m-animate-3-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -30px 0;
    }
    .phone-2 {
        position: relative;
        height: 500px;
        width: 418px;
        background-image: url('../res/m6-phone.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .cloud,
    .boy,
    .sleep {
        position: absolute;
        background-image: url('../res/m-animate-3-imp.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .cloud {
        top: 0;
        left: 0;
        height: 49px;
        width: 100px;
        background-position: -625px -212px;
    }
    .boy {
        bottom: 0;
        right: 50%;
        background-image: url('../res/mrunner.32@2x.png');
        height: 134px;
        width: 120px;
        opacity: 1;
    }
    .sleep {
        top: -110px;
        right: -20px;
        height: 111px;
        width: 111px;
        background-position: -1080px -1px;
    }
    .title-2 {
        height: 43px;
        width: 221px;
        background-image: url('../res/m-animate-3-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -298px -218px;
        opacity: 0;
    }
    .ad-1 {
        margin: 2rem 0;
        height: 23px;
        width: 514px;
        background-image: url('../res/m-animate-3-imp.32@2x.png');
        background-repeat: no-repeat;
        background-position: -769px -256px;
        opacity: 0;
    }
    .mlike-1 {
        height: 56px;
        width: 122px;
        background-image: url('../res/mlike.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
}

// 统一管理第五个页面的动画
.step5-animation {
    .phone-2 {
        -webkit-animation: phone-2 300ms linear forwards;
        animation: phone-2 300ms linear forwards;
    }
    .cloud {
        -webkit-animation: cloud 1s 300ms ease-out forwards;
        animation: cloud 1s 300ms ease-out forwards;
    }
    .boy {
        -webkit-animation: boy 1.5s 300ms steps(9) forwards;
        animation: boy 1.5s 300ms steps(9) forwards;
    }
    .sleep {
        -webkit-animation: sleep 300ms 1.7s linear forwards;
        animation: sleep 300ms 1.7s linear forwards;
    }
    .title-2 {
        -webkit-animation: phone-2 300ms 300ms linear forwards;
        animation: phone-2 300ms 300ms linear forwards;
    }
    .ad-1 {
        -webkit-animation: phone-2 300ms 600ms linear forwards;
        animation: phone-2 300ms 600ms linear forwards;
    }
    .mlike-1 {
        -webkit-animation: mlike-1 500ms 600ms linear forwards;
        animation: mlike-1 500ms 600ms linear forwards;
    }
}

// 云朵
@-webkit-keyframes cloud {
    from {
        -webkit-transform: translateX(-150px);
        transform: translateX(-150px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes cloud {
    from {
        -webkit-transform: translateX(-150px);
        transform: translateX(-150px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

// 男孩行走
@-webkit-keyframes boy {
    100% {
        background-position: -1080px 0;
        -webkit-transform: translateX(260px);
        transform: translateX(260px);
        opacity: .5;
    }
}

@keyframes boy {
    100% {
        background-position: -1080px 0;
        -webkit-transform: translateX(260px);
        transform: translateX(260px);
        opacity: .5;
    }
}

// 耍手机
@-webkit-keyframes sleep {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sleep {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

// 页面6
#step6 {
    background-color: #e03d3d;
    position: relative;
    top: 0;
    left: 0;
    .logo,
    .download,
    .share {
        margin-bottom: 5rem;
        background-image: url('../res/m-animate-3-imp.32@2x.png');
        background-repeat: no-repeat;
        opacity: 0;
    }
    .logo {
        height: 97px;
        width: 537px;
        background-position: -1118px -116px;
    }
    .download {
        height: 90px;
        width: 328px;
        background-position: -1195px 0;
    }
    .share {
        position: absolute;
        left: 50%;
        margin-left: -210px;
        margin-bottom: 0;
        bottom: 0;
        height: 205px;
        width: 427px;
        background-position: -646px 0;
    }
}

// 统一管理第六个页面的动画
.step6-animation {
    .logo {
        -webkit-animation: logo 300ms linear forwards;
        animation: logo 300ms linear forwards;
    }
    .download {
        -webkit-animation: download 300ms 300ms linear forwards;
        animation: download 300ms 300ms linear forwards;
    }
    .share {
        -webkit-animation: share 300ms linear forwards;
        animation: share 300ms linear forwards;
    }
}

// logo
@-webkit-keyframes logo {
    from {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logo {
    from {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

// 下载按钮
@-webkit-keyframes download {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes download {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

// 分享
@-webkit-keyframes share {
    from {
        -webkit-transform: translateY(205px);
        transform: translateY(205px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes share {
    from {
        -webkit-transform: translateY(205px);
        transform: translateY(205px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
